.margin-pop{
  background-position:center right !important;      
  background-position: 95% 50% !important;
 background-repeat: no-repeat !important;
 padding: 26px;
 width:450px;
 margin-top:20px;

}
h3{
	    margin-left: 153px;
}
#clk{
	    margin-left: 100px;
}